.smile {
    cursor: pointer;
}

.smile svg {
    transform: scale(3);
}

/*.active span {*/
/*    color: #60a5fa !important;*/
/*}*/

/*.active svg {*/
/*    fill: #60a5fa;*/
/*}*/

.position svg {
    fill: gray;
}

svg.active {
    fill: #60a5fa;
}